.grid-layout .product-wrap {
	width: 33%;
	min-width: 220px;
	max-width: 290px;
	position: relative;
	cursor: default;
	margin: 0;
	float: left;
}

.grid-layout .product-box {
	background-color: #fafafa;
	border: 1px solid #ffffff;
	position: relative;
	width: 99%;
	height: 99%;
	cursor: default;
	margin: 2px 10px;
	padding: 2px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.grid-layout .product-box:hover {
	border: 1px solid #e9c0a2;
}

.grid-layout .product-box h6 {
	line-height: 1.4;
	margin: 2px;
	color: #000000;
	font-weight: bold;
}

.grid-layout .product-box h6 a,
.grid-layout .product-box h6 a:active,
.grid-layout .product-box h6 a:hover {
	color: #ffffff;
}

.grid-layout .product-box .image-box {
	height: 175px;
	text-align: center;
	vertical-align: middle;
	background: transparent;
	border: 0 solid #dddddd;
	margin-bottom: 5px;
}

.grid-layout .product-box .image-box img {
	max-width: 98%;
	max-height: 98%;
	margin-top: auto;
	margin-bottom: auto;
}

.grid-layout .product-box .product-stars .fa {
	color: #f49a1f;
}

.grid-layout .product-box .product-stars:hover .fa {
	color: #ff0000;
}

.grid-layout .product-box .product-title,
.grid-layout .product-box .product-title a,
.grid-layout .product-box .product-title a:hover {
	font-size: 14px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}

.grid-layout .product-box .product-title {
	max-height: 2.9em;
	text-overflow: ellipsis;
	overflow: hidden;
}

.grid-layout .product-box .product-offer {
	font-size: 11px;
	color: #008800;
}

.isolate {
	border: 0 solid #cccccc;
	border-top-width: 1px;
	line-height: 1.8;
	margin: 3px 0;
}

.grid-layout .product-box .product-price {
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	float: right;
	margin: 0;
}

.grid-layout .product-box .btn-add-cart.add {
	float: right;
}

.grid-layout .lbl-no-stock,
.grid-layout .btn-add-cart,
.grid-layout .btn-quick-view {
	font-size: 14px;
	padding: 5px;
	margin: 2px;
}

.grid-layout .btn-quick-view {
	position: absolute;
	left: 1px;
	top: 0;
}

.grid-layout .btn-add-cart.buy {
	position: absolute;
	right: 1px;
	top: 0;
}

.grid-layout .product-box ul.product-features {
	margin-left: 15px;
}

.grid-layout .product-box ul.product-features li {
	font-size: 13px;
	color: #000000;
	line-height: 1.5;
	margin-left: -10px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.grid-layout .product-box ul.product-features li:before {
	content: '•  ';
	padding-right: 5px;
}

.grid-layout .product-box .product-compare {
	margin: 1px;
	float: left;
}

.grid-layout .product-box .product-compare input[type="checkbox"] {
	margin: 0;
}

/** With tips at the side-bottoms of each box */
.grid-layout .product-box .item-counts .tip-left,
.grid-layout .product-box .item-counts .tip-right {
	font-size: 16px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #eeeeee;
	text-align: center;
	color: #000000;
	background: #ffffff;
	position: absolute;
	top: 10px;
	min-width: 50px;
	border: 1px solid #ffffff;
	line-height: .9;
	padding: 2px 4px;
	border-radius: 0 5px 5px 0;
}

.grid-layout .product-box .item-counts .tip-left {
	left: 0;
	border-radius: 0 5px 5px 0;
	-webkit-box-shadow: 1px 1px 1px 1px #333333;
	-moz-box-shadow: 1px 1px 1px 1px #333333;
	box-shadow: 1px 1px 1px 1px #333333;
}

.grid-layout .product-box .item-counts .tip-right {
	left: auto;
	right: 0;
	border-radius: 5px 0 0 5px;
	-webkit-box-shadow: -1px 1px 1px 1px #333333;
	-moz-box-shadow: -1px 1px 1px 1px #333333;
	box-shadow: -1px 1px 1px 1px #333333;
}

.grid-layout .product-box .item-counts span {
	text-transform: uppercase;
	font-size: 8px;
	color: #000000;
	margin: 0 2px;
}

/** With tips at the side-top of each box */
/*
.grid-layout .product-box .item-hover-actions {
	display: none;
}

.grid-layout .product-box:hover .item-hover-actions {
	display: block;
}
*/

.grid-layout .product-box .item-hover-actions .tip-left,
.grid-layout .product-box .item-hover-actions .tip-right {
	font-size: 16px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #eeeeee;
	text-align: center;
	color: #000000;
	position: absolute;
	top: 0;
	min-width: 50px;
	line-height: .9;
	padding: 2px 1px;
}

.grid-layout .product-box .item-hover-actions .tip-left {
	left: 0;
}

.grid-layout .product-box .item-hover-actions .tip-right {
	left: auto;
	right: 0;
}

.grid-layout .product-box .item-hover-actions span {
	text-transform: uppercase;
	font-size: 8px;
	color: #000000;
	margin: 0 2px;
}

/** With strip at the bottom of each box */
.grid-layout .product-box .item-counts-strip {
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	background: rgba(0, 0, 0, .6);
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	line-height: .9;
	padding: 5px 5px;
}

.grid-layout .product-box:hover .item-counts-strip {
	background: rgb(0, 0, 0);
}

.grid-layout .product-box .item-counts-strip span {
	clear: left;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 8px;
	color: #ffffff;
	line-height: 2.0;
}

.grid-layout .tip-left {
	left: 10px;
	text-align: left;
	float: left;
}

.grid-layout .tip-right {
	right: 20px;
	text-align: right;
	float: right;
}

/** With strip at the bottom of each box */
.grid-layout .product-box.w100p {
	width: 100%;
	text-align: left;
}

.grid-layout .product-box h3 {
	line-height: 1.4;
	margin: 2px;
	color: #000000;
	font-weight: bold;
}

.grid-layout .product-box.w100p .image-box {
	width: 180px;
	float: left;
	margin: 0 10px 10px 0;
}

.grid-layout .product-box.w100p .cat-text {
	margin: 10px 10px 10px 10px;
}

.jdatabasequery {
	white-space: pre;
	overflow: auto;
	-ms-word-break: normal;
	word-break: normal;
	-ms-word-wrap: normal;
	word-wrap: normal;
}

/* FILTERS */
.filter-head {
	width: 100%;
	color: #000;
	background: #eee2c6;
	border: 0 solid #9c9c9c;
	font-size: 110%;
	font-weight: bold;
	padding: 3px;
	margin-bottom: 2px;
	cursor: default;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.filter-category {
	width: 100%;
	color: #000;
	background: #eee2c6;
	border: 1px solid #d3ac06;
	border-right-width: 0;
	border-left-width: 0;
	padding: 3px;
	margin-top: -5px;
	margin-bottom: 2px;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#sell-filter {
	width: 100%;
	padding: 2px;
	border: 1px solid #dedede;
	height: 100%;
}

#sell-filter .filter-title {
	font-weight: normal;
	border: 1px solid #dedbcb;
	border-bottom-width: 0;
	background-color: #eee2c6;
	color: #3c3c3c;
	line-height: 1.5;
	margin: 0;
	padding: 2px 3px;
	border-radius: 1px 1px 0 0;
	white-space: nowrap;
	height: 18px;
}

#sell-filter .filter-title > div {
	width: 94%;
	float: left;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	cursor: default;
}

#sell-filter .filter-title .clear-filter {
	font-size: 12px;
	font-weight: bold;
	line-height: 0.9;
	color: #ff0000;
	background: #ffffff;
	cursor: pointer;
	margin-top: 3px;
	padding: 0 2px 2px;
	border-radius: 4px;
}

#sell-filter .filter-snap-in {
	box-sizing: border-box;
	border-radius: 0;
	padding: 2px;
	display: inline-block;
	width: 100%;
}

#btn-filter_zip {
	float: right;
	margin-top: -28px;
	cursor: pointer;
}

#sell-filter .filter-snap-in > ul {
	margin-bottom: 1px;
}

#sell-filter div.search-filter {
	border: 1px solid #dddddd;
	border-radius: 0;
	height: 28px;
	margin: 0 auto;
	background-color: #fcfcfc;
	width: 100%;
	box-sizing: border-box;
}

#sell-filter div.search-filter > input {
	background: none;
	border: none;
	box-shadow: none !important;
	overflow-x: hidden !important;
	padding: 0 3px;
	margin-top: -4px;
	width: 99%;
}

#sell-filter div.search-filter > input:hover,
#sell-filter div.search-filter > input:focus,
#sell-filter div.search-filter > input:active {
	border: none;
	box-shadow: none !important;
	-webkit-box-shadow: none;
}

#sell-filter .filter-choices {
	max-height: 100px;
	overflow-y: auto;
	overflow-x: hidden;
	background: #ffffff;
	border: 1px solid #dedbcb;
	border-top-width: 0;
}

#sell-filter .filter-choice {
	margin: 2px 0;
}

#sell-filter .filter-choice label {
	margin: 2px 2px;
}

#sell-filter .filter-choice input {
	margin: 0 2px;
}

.filter-snap-in.filter-collapse {
	margin-bottom: 5px;
}

.filter-snap-in .filter-title i.fold,
.filter-snap-in .filter-title i.unfold {
	cursor: pointer;
}

.filter-snap-in .filter-title i.unfold {
	display: none;
}

.filter-snap-in.filter-collapse .filter-title i.fold,
.filter-snap-in.filter-collapse .search-filter,
.filter-snap-in.filter-collapse .filter-choices {
	display: none;
}

.filter-snap-in.filter-collapse .filter-title i.unfold {
	display: inline-block;
}

.filter-snap-in label.disabled {
	color: #cecece;
}

.category-link a,
.category-link a:hover,
.category-link a:active,
.category-link a:focus {
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	color: #000;
	line-height: 1.8;
}

.category-link a:hover {
	text-decoration: none;
	text-shadow: 0 1px #999;
}

.cursor-normal {
	cursor: default;
}

@media (min-width: 800px) {
	#products-box {
		width: 100%;
		float: left;
		min-width: 245px;
	}

	#filter-box {
		width: 245px;
		padding: 2px 10px;
	}

	#filter-box .filter-head {
		display: none;
	}
}

@media (max-width: 799px) {
	#products-box {
		clear: both;
		width: 100%;
	}

	#filter-box {
		width: 100%;
		padding: 10px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	#sell-filter {
		padding: 0;
	}

	#sell-filter.closed-on-phone form {
		display: none;
	}
}


.padding-10 {
	padding: 10px;
}
.list-layout .product-wrap {
	width: 100%;
	min-width: 220px;
	position: relative;
	cursor: default;
	margin: 0;
	float: left;
}

.list-layout .product-box {
	background-color: #fafafa;
	border: 1px solid #ffffff;
	position: relative;
	width: 99%;
	height: 99%;
	cursor: default;
	margin: 2px 10px;
	padding: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.list-layout .product-box:hover {
	border: 1px solid #e9c0a2;
}

.list-layout .product-box h6 {
	line-height: 1.4;
	margin: 2px;
	color: #000000;
	font-weight: bold;
}

.list-layout .product-box h6 a,
.list-layout .product-box h6 a:active,
.list-layout .product-box h6 a:hover {
	color: #ffffff;
}

.list-layout .product-box .image-box {
	width: 175px;
	max-height: 135px;
	float: left;
	text-align: center;
	vertical-align: middle;
	background: transparent;
	border: 0 solid #dddddd;
	margin-right: 5px;
	margin-bottom: 5px;
	overflow: hidden;
}

.list-layout .product-box .image-box img {
	max-width: 98%;
	max-height: 98%;
}

.list-layout .product-box .product-stars .fa {
	color: #f49a1f;
}

.list-layout .product-box .product-stars:hover .fa {
	color: #ff0000;
}

.list-layout .product-box .product-title,
.list-layout .product-box .product-title a,
.list-layout .product-box .product-title a:hover {
	font-size: 14px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}

.list-layout .product-box .product-title {
	max-height: 2.9em;
	text-overflow: ellipsis;
	overflow: hidden;
}

.list-layout .product-box .product-offer {
	font-size: 11px;
	color: #008800;
}

.list-layout .isolate {
	border: 0 solid #cccccc;
	line-height: 1.8;
	margin: 3px 0;
}

.list-layout .product-info-box {
	width: calc(100% - 180px);
	float: left;
}

.list-layout .product-box .product-price {
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	clear: left;
	float: left;
	margin: 0;
}

.list-layout .lbl-no-stock,
.list-layout .btn-add-cart,
.list-layout .btn-quick-view {
	font-size: 14px;
	padding: 5px;
	margin: 2px;
}

.list-layout .lbl-no-stock {
	color: #5dd07e;
	background: #fff;
}

.list-layout .product-box ul.product-features {
	margin-left: 0;
}

.list-layout .product-box ul.product-features li {
	font-size: 13px;
	color: #000000;
	line-height: 1.5;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	float: left;
}

.list-layout .product-box ul.product-features li + li:before {
	content: ', ';;
}

.list-layout .product-box .btn-add-cart.add,
.list-layout .product-box .btn-add-cart.buy,
.list-layout .product-box .btn-quick-view {
	float: right;
}

.list-layout .product-box .product-compare {
	margin: 2px 0;
	position: absolute;
	color: #080;
	background: transparent;
	font-weight:bold;
	text-transform: uppercase;
	top: 24px;
	left: 320px;
}

.list-layout .product-box .product-compare input[type="checkbox"] {
	margin: 2px 5px 0 0;
	float: left;
}

/** With tips at the side-bottoms of each box */
.list-layout .product-box .item-counts .tip-left,
.list-layout .product-box .item-counts .tip-right {
	font-size: 16px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #eeeeee;
	text-align: center;
	color: #000000;
	background: #ffffff;
	position: absolute;
	top: 10px;
	min-width: 50px;
	border: 1px solid #ffffff;
	line-height: .9;
	padding: 2px 4px;
	border-radius: 0 5px 5px 0;
}

.list-layout .product-box .item-counts .tip-left {
	left: 0;
	border-radius: 0 5px 5px 0;
	-webkit-box-shadow: 1px 1px 1px 1px #333333;
	-moz-box-shadow: 1px 1px 1px 1px #333333;
	box-shadow: 1px 1px 1px 1px #333333;
}

.list-layout .product-box .item-counts .tip-right {
	left: auto;
	right: 0;
	border-radius: 5px 0 0 5px;
	-webkit-box-shadow: -1px 1px 1px 1px #333333;
	-moz-box-shadow: -1px 1px 1px 1px #333333;
	box-shadow: -1px 1px 1px 1px #333333;
}

.list-layout .product-box .item-counts span {
	text-transform: uppercase;
	font-size: 8px;
	color: #000000;
	margin: 0 2px;
}

.list-layout .product-box .item-hover-actions .tip-left,
.list-layout .product-box .item-hover-actions .tip-right {
	font-size: 16px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #eeeeee;
	text-align: center;
	color: #000000;
	position: absolute;
	top: 0;
	min-width: 50px;
	line-height: .9;
	padding: 2px 1px;
}

.list-layout .product-box .item-hover-actions .tip-left {
	left: 0;
}

.list-layout .product-box .item-hover-actions .tip-right {
	left: auto;
	right: 0;
}

.list-layout .product-box .item-hover-actions span {
	text-transform: uppercase;
	font-size: 8px;
	color: #000000;
	margin: 0 2px;
}

/** With strip at the bottom of each box */
.list-layout .product-box .item-counts-strip {
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	background: rgba(0, 0, 0, .6);
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	line-height: .9;
	padding: 5px 5px;
}

.list-layout .product-box:hover .item-counts-strip {
	background: rgb(0, 0, 0);
}

.list-layout .product-box .item-counts-strip span {
	clear: left;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 8px;
	color: #ffffff;
	line-height: 2.0;
}

.list-layout .tip-left {
	left: 10px;
	text-align: left;
	float: left;
}

.list-layout .tip-right {
	right: 20px;
	text-align: right;
	float: right;
}

/** With strip at the bottom of each box */
.list-layout .product-box.w100p {
	width: 100%;
	text-align: left;
}

.list-layout .product-box h3 {
	line-height: 1.4;
	margin: 2px;
	color: #000000;
	font-weight: bold;
}

.list-layout .product-box.w100p .image-box {
	width: 180px;
	float: left;
	margin: 0 10px 10px 0;
}

.list-layout .product-box.w100p .cat-text {
	margin: 10px 10px 10px 10px;
}

.jdatabasequery {
	white-space: pre;
	overflow: auto;
	-ms-word-break: normal;
	word-break: normal;
	-ms-word-wrap: normal;
	word-wrap: normal;
}

/* FILTERS */
.filter-head {
	width: 100%;
	color: #000;
	background: #eee2c6;
	border: 0 solid #9c9c9c;
	font-size: 110%;
	font-weight: bold;
	padding: 3px;
	margin-bottom: 2px;
	cursor: default;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.filter-category {
	width: 100%;
	color: #000;
	background: #eee2c6;
	border: 1px solid #d3ac06;
	border-right-width: 0;
	border-left-width: 0;
	padding: 3px;
	margin-top: -5px;
	margin-bottom: 2px;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#sell-filter {
	width: 100%;
	padding: 2px;
	border: 1px solid #dedede;
	height: 100%;
}

#sell-filter .filter-title {
	font-weight: normal;
	border: 1px solid #dedbcb;
	border-bottom-width: 0;
	background-color: #eee2c6;
	color: #3c3c3c;
	line-height: 1.5;
	margin: 0;
	padding: 2px 3px;
	border-radius: 1px 1px 0 0;
	white-space: nowrap;
	height: 18px;
}

#sell-filter .filter-title > div {
	width: 94%;
	float: left;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	cursor: default;
}

#sell-filter .filter-title .clear-filter {
	font-size: 12px;
	font-weight: bold;
	line-height: 0.9;
	color: #ff0000;
	background: #ffffff;
	cursor: pointer;
	margin-top: 3px;
	padding: 0 2px 2px;
	border-radius: 4px;
}

#sell-filter .filter-snap-in {
	box-sizing: border-box;
	border-radius: 0;
	padding: 2px;
	display: inline-block;
	width: 100%;
}

#btn-filter_zip {
	float: right;
	margin-top: -28px;
	cursor: pointer;
}

#sell-filter .filter-snap-in > ul {
	margin-bottom: 1px;
}

#sell-filter div.search-filter {
	border: 1px solid #dddddd;
	border-radius: 0;
	height: 28px;
	margin: 0 auto;
	background-color: #fcfcfc;
	width: 100%;
	box-sizing: border-box;
}

#sell-filter div.search-filter > input {
	background: none;
	border: none;
	box-shadow: none !important;
	overflow-x: hidden !important;
	padding: 0 3px;
	margin-top: -4px;
	width: 99%;
}

#sell-filter div.search-filter > input:hover,
#sell-filter div.search-filter > input:focus,
#sell-filter div.search-filter > input:active {
	border: none;
	box-shadow: none !important;
	-webkit-box-shadow: none;
}

#sell-filter .filter-choices {
	max-height: 100px;
	overflow-y: auto;
	overflow-x: hidden;
	background: #ffffff;
	border: 1px solid #dedbcb;
	border-top-width: 0;
}

#sell-filter .filter-choice {
	margin: 2px 0;
}

#sell-filter .filter-choice label {
	margin: 2px 2px;
}

#sell-filter .filter-choice input {
	margin: 0 2px;
}

.filter-snap-in.filter-collapse {
	margin-bottom: 5px;
}

.filter-snap-in .filter-title i.fold,
.filter-snap-in .filter-title i.unfold {
	cursor: pointer;
}

.filter-snap-in .filter-title i.unfold {
	display: none;
}

.filter-snap-in.filter-collapse .filter-title i.fold,
.filter-snap-in.filter-collapse .search-filter,
.filter-snap-in.filter-collapse .filter-choices {
	display: none;
}

.filter-snap-in.filter-collapse .filter-title i.unfold {
	display: inline-block;
}

.filter-snap-in label.disabled {
	color: #cecece;
}

.category-link a,
.category-link a:hover,
.category-link a:active,
.category-link a:focus {
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	color: #000;
	line-height: 1.8;
}

.category-link a:hover {
	text-decoration: none;
	text-shadow: 0 1px #999;
}

.cursor-normal {
	cursor: default;
}

@media (min-width: 800px) {
	#products-box {
		width: 100%;
		float: left;
		min-width: 245px;
	}

	#filter-box {
		width: 245px;
		padding: 2px 10px;
	}

	#filter-box .filter-head {
		display: none;
	}
}

@media (max-width: 799px) {
	#products-box {
		clear: both;
		width: 100%;
	}

	#filter-box {
		width: 100%;
		padding: 10px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	#sell-filter {
		padding: 0;
	}

	#sell-filter.closed-on-phone form {
		display: none;
	}
}

.spl-cat-badge {
	max-height: 30px;
	max-width: 30px;
}

#products-box .modal[id^="query-form-"] .modal-content {
	max-width: 520px;
}

#products-box .modal[id^="query-form-"] .modal-body {
	max-width: 520px;
}

#products-box .modal[id^="query-form-"] .modal-content iframe {
	position: relative;
	width: 100%;
	height: 450px;
	border: 0 solid red;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
