div.c02{background-image: url(http://localhost/updated%20website/images/abt.jpg);
background-attachment: fixed;
background-position: 0px 60px;
background-width: 100%;
	padding: 10px;
	text-align: center;
}

p2,h2 {
	font-size: 25px;
}