body
{background-color: black;
color:white;}
div.pr
{color: white; 
background-image: url(http://localhost/updated%20website/images/HOME.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-position: 0px 65px;
padding-top: 90px;
padding-bottom: 120px;
padding-left: 70px;
padding-right: 70px;
font-family: 'HelveticaRegular',Helvetica,Arial;
text-align: center;}
h1
{font-size: 95px;
color:white;}
p1
{font-size: 60px}
button
{font-size: 50px;
color: white;
background-color: transparent;}